<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="moe.shizuku.fontprovider">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="23"/>

    <permission android:name="moe.shizuku.fontprovider.BIND" android:protectionLevel="normal"/>

    <application
        android:name=".FontProviderApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_fontprovider"
        android:roundIcon="@mipmap/ic_launcher_fontprovider_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".FontManageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".FontPreviewActivity"/>
        <service
            android:name=".FontProviderService"
            android:enabled="true"
            android:exported="true"
            android:permission="moe.shizuku.fontprovider.BIND">

            <intent-filter>
                <action android:name="moe.shizuku.fontprovider.action.BIND" />
            </intent-filter>

        </service>

    </application>

</manifest>